fastapi>=0.115.0
uvicorn>=0.30.0
python-jose==3.3.0
passlib==1.7.4
python-multipart==0.0.6
sqlalchemy>=2.0.36
pydantic>=2.8.0
pydantic-settings==2.1.0
python-dotenv==1.0.0
mysqlclient==2.2.0
mysql-connector-python>=8.0.0
email-validator>=2.2.0
eralchemy2